---
Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  google-*,
  modernize-*,
  -modernize-use-nodiscard,
  -misc-non-private-member-variables-in-classes,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-simplify-boolean-expr,
  -google-readability-casting,
  -clang-diagnostic-sign-conversion,
  -clang-diagnostic-old-style-cast,
  -clang-analyzer-core.UndefinedBinaryOperatorResult,
  -clang-analyzer-core.CallAndMessage,
  -clang-analyzer-core.NonNullParamChecker,
  -clang-analyzer-core.NonNullParamChecker,
  -clang-analyzer-core.CallAndMessage,
  -clang-diagnostic-conversion,
  -clang-diagnostic-shadow,
  -clang-diagnostic-extra-semi,
  -clang-diagnostic-unused-function,
  -clang-diagnostic-cpp

WarningsAsErrors: ''
CheckOptions:
  - key: 'bugprone-argument-comment.StrictMode'
    value: 'false'
  - key: 'bugprone-argument-comment.CommentBoolLiterals'
    value: 'false'
  - key: 'bugprone-misplaced-widening-cast.CheckImplicitCasts'
    value: 'false'
  - key: 'bugprone-sizeof-expression.WarnOnSizeOfIntegerExpression'
    value: 'false'
  - key: 'bugprone-suspicious-string-compare.WarnOnLogicalNotComparison'
    value: 'false'
  - key: 'readability-simplify-boolean-expr.ChainedConditionalReturn'
    value: 'false'
  - key: 'readability-simplify-boolean-expr.ChainedConditionalAssignment'
    value: 'false'
  - key: 'readability-uniqueptr-delete-release.PreferResetCall'
    value: 'false'
  - key: 'cppcoreguidelines-init-variables.MathHeader'
    value: '<cmath>'
  - key: 'cppcoreguidelines-narrowing-conversions.PedanticMode'
    value: 'false'
  - key: 'readability-else-after-return.WarnOnUnfixable'
    value: 'false'
  - key: 'readability-else-after-return.WarnOnConditionVariables'
    value: 'false'
  - key: 'readability-inconsistent-declaration-parameter-name.Strict'
    value: 'false'
  - key: 'readability-qualified-auto.AddConstToQualified'
    value: 'false'
  - key: 'readability-redundant-access-specifiers.CheckFirstDeclaration'
    value: 'false'
  - key: 'readability-identifier-naming.AbstractClassCase'
    value: 'CamelCase'
  - key: 'readability-identifier-naming.ClassCase'
    value: 'CamelCase'
  - key: 'readability-identifier-naming.ClassMemberCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.ClassMemberPrefix'
    value: 'm_'
  - key: 'readability-identifier-naming.GlobalConstantCase'
    value: 'UPPER_CASE'
  - key: 'readability-identifier-naming.GlobalVariableCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.LocalConstantCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.LocalVariableCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.MacroDefinitionCase'
    value: 'UPPER_CASE'
  - key: 'readability-identifier-naming.MemberFunctionCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.NamespaceCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.ParameterCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.ParameterPackCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.PointerParameterPrefix'
    value: 'i_'
  - key: 'readability-identifier-naming.PointerParameterCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.PrivateMemberCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.PrivateMemberPrefix'
    value: 'd_'
  - key: 'readability-identifier-naming.PrivateMethodCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.ProtectedMemberCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.ProtectedMethodCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.PublicMemberCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.PublicMethodCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.ScopedEnumConstantCase'
    value: 'CamelCase'
  - key: 'readability-identifier-naming.StaticConstantCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.StaticVariableCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.StructCase'
    value: 'CamelCase'
  - key: 'readability-identifier-naming.TemplateParameterCase'
    value: 'CamelCase'
  - key: 'readability-identifier-naming.TemplateTemplateParameterCase'
    value: 'CamelCase'
  - key: 'readability-identifier-naming.TypeAliasCase'
    value: 'CamelCase'
  - key: 'readability-identifier-naming.TypedefCase'
    value: 'UPPER_CASE'
  - key: 'readability-identifier-naming.TypeTemplateParameterCase'
    value: 'CamelCase'
  - key: 'readability-identifier-naming.UnionCase'
    value: 'CamelCase'
  - key: 'readability-identifier-naming.ValueTemplateParameterCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.VariableCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.VirtualMethodCase'
    value: 'camelBack'
