*.cmake
*.so
*.swp
*/*/.vscode
.clangd
.DS_Store
.idea/*
.vs/
.vscode/
build/
cmake-build-*/
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json
dataset/
db.sqlite3
launch.json
package-lock.json
prefix/
pyth
result_dataset/
settings.json
temp_for_json/