*.so
*.swp
*/*/.vscode
.clangd
.DS_Store
.idea/*
.vs/
.vscode/
.venv/
.venv-docs/
build*/
cmake-build-*/
CMakeLists.txt.user
CMakeUserPresets.json
dataset/
settings.json
*.log
generation_results/*
